html {
	font-family: 'Press Start 2P', cursive;
	max-width: 1920;
	min-width: auto;
	padding: 2%;
	margin: auto;
}

.container {
	overflow: hidden;
	text-align: center;
}

.container h1 {
	font-size: 30px;
	z-index: 2;
}

.container canvas {
	z-index: 1;
}