html {
	font-family: 'Press Start 2P', cursive;
	max-width: 1920;
	padding: 5%;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vh;
}

body {
	margin: 0;
	display: block;
}

.container {
	overflow: hidden;
	text-align: center;
	transform: scale(0.5);
	transform-origin: top center;
}

.container h1 {
	font-size: 35px;
	z-index: 2;
}

.container canvas {
	z-index: 1;
}