html {
	font-family: 'Press Start 2P', cursive;
	max-width: auto;
	min-width: auto;
	padding: 0%;
	margin: auto;
	height: 100%;
}

.container {
	overflow: hidden;
	text-align: center;
}

.container h1 {
	font-size: 25px;
	z-index: 2;
	position: relative;
}

.container canvas {
	z-index: 1;
}