html {
	font-family: 'Press Start 2P', cursive;
	width: auto;
}

h1 {
	font-size: 25px;
	text-align: center;
	z-index: 0;
}

.container {
	width: 1920px;
	max-width: auto;
	overflow: hidden;
}

canvas {
	z-index: -1;
}