html {
	font-family: 'Press Start 2P', cursive;
	width: auto;
	max-width: 1920;
	min-width: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.container {
	max-width: 1920px;
	overflow: hidden;
	width: auto;
	min-width: auto;
	margin-left: auto;
	margin-right: auto;
}

.container h1 {
	font-size: 30px;
	text-align: center;
	z-index: 2;
	padding: 10px;
}

.container canvas {
	z-index: 1;
	transform: scale(0.5);
	transform-origin: (0,0);
	-webkit-transform-origin: (0,0);
	-ms-transform-origin: (0,0);
	-moz-transform-origin: (0,0);
}